%h1 Conway's Game of Life

#board

#generations
  Generation: 0

#actions
  %p
    %button#random Random
    %button#start Start
    %button#stop Stop
    %button#clear Clear

  %p
    %input{:id => "speed", :type => "range", :min => 0, :max => 1000, :value => 200, :steps => 50}


#blurb
  :markdown
    Who doesn't love [Conway's Game of Life](http://en.wikipedia.org/wiki/Conway's_Game_of_Life)?

    This implementation uses [Backbone.js](http://documentcloud.github.com/backbone/), [Coffeescript](http://jashkenas.github.com/coffee-script/) and [Sinatra](http://www.sinatrarb.com/).

    [View Source](https://github.com/ProtectedMethod/game_of_life_backbone)


:javascript
  $(function(){ new Game({size: 50}); });
