#board

#actions
  %button#random Random
  %button#start Start
  %button#stop Stop
  %button#clear Clear

#blurb
  :markdown
    Who doesn't love [Conway's Game of Life](http://en.wikipedia.org/wiki/Conway's_Game_of_Life)?

    This implementation uses [Backbone.js](http://documentcloud.github.com/backbone/), [Coffeescript](http://jashkenas.github.com/coffee-script/) and [Sinatra](http://www.sinatrarb.com/).

    [View Source](https://github.com/ProtectedMethod/game_of_life_backbone)


:javascript
  $(function(){
    var game = new Game({size: 50});

    $("body").bind("keyup", function(e){
      if(e.keyCode == 32){ game.step(); }
    });

    $("#random").click(function(){ game.random(); });
    $("#start").click(function(){ game.start(); });
    $("#stop").click(function(){ game.stop(); });
    $("#clear").click(function(){ game.clear(); });
  });
