!!! XML
!!!

%html
  %head
    %meta{"http-equiv"=>"content-type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"language", :content=>"en"}

    %title Project Board

    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/reset.css"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheet.css"}

    %script{:type => "text/javascript", :src => "/jquery.js"}
    %script{:type => "text/javascript", :src => "/underscore.js"}
    %script{:type => "text/javascript", :src => "/backbone.js"}
    %script{:type => "text/javascript", :src => "/gol.js"}

  %body
    #content
      .container
        = yield
