$links: #e60437

= corners
  :-moz-border-radius 20px
  :-webkit-border-radius 20px

= box_drop_shadow
  :-moz-box-shadow 0px 5px 5px #ddd
  :-webkit-box-shadow 0px 5px 5px #ddd
  :box-shadow 0px 5px 5px #ddd

body
  :font 16px/1.5 Helvetica, sans-serif
  :color #000

.container
  :width 960px
  :margin auto
  :margin-top 6em

.clear
  :clear both

#board
  +box_drop_shadow
  :margin auto
  :width 300px
  :height 300px
  :padding-left 2px
  :padding-top 2px
  :background whitesmoke

#actions
  :margin auto
  :width 300px
  :text-align center
  :margin-top 2em

#blurb
  :text-align center
  :font-size 11px
  :margin-top 5em
  :color #999
  :font-style italic

  a
    :color #333
    :text-decoration none

.cell
  +corners
  :background #FFF
  :height 5px
  :width 5px
  :float left
  :margin-right 1px
  :margin-bottom 1px
